services:
  db:
    image: postgres:16-alpine
    container_name: booking-db-dev
    environment:
      POSTGRES_DB: booking
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - db-data-dev:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U demo -d booking"]
      interval: 5s
      timeout: 3s
      retries: 10

  backend:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      target: dev
    container_name: booking-backend-dev
    working_dir: /var/www
    volumes:
      - ./:/var/www
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy

  nginx:
    image: nginx:1.27-alpine
    container_name: booking-nginx-dev
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: booking-rabbitmq-dev
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq-data-dev:/var/lib/rabbitmq

  mailcatcher:
    image: sj26/mailcatcher:latest
    container_name: booking-mailcatcher-dev
    ports:
      - "1025:1025"   # SMTP
      - "1080:1080"   # UI web


volumes:
  db-data-dev:
  rabbitmq-data-dev:
